nav{
    display: flex;
    justify-content: space-between;
}

ul{
    display: flex;
    justify-content: space-around;
    
    
}

li{
    list-style: none;
    
}

.skills{
    display: flex;
    text-align: center;
}

footer{

    background-color: black;
    color: whitesmoke;
    text-align: center;
}

.skills img{
    width: 28%;
}

.image img{
    width: 95%;
}

